[
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||     
| |/         ||      
| |          ||      
| |         ,().    
| |         |  |   
| |         \\__'     
| |                           
| |                            
| |                             
| |                        
| |                        
| |                        
| |                        
| |                         
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
"
 
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |           `--' 
| |                  
| |                  
| |                   
| |                    
| |               
| |               
| |               
| |               
| |                
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
" 
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |          -`--' 
| |          |. .|   
| |          |   |   
| |          | . |    
| |          |   |     
| |          -----
| |               
| |               
| |               
| |                
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
"  
"
  ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |         .-`--' 
| |        /Y . .|   
| |       // |   |   
| |      //  | . |    
| |     ')   |   |     
| |          -----
| |               
| |               
| |               
| |                
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
" 
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |         .-`--'.
| |        /Y . . Y\\
| |       // |   | \\\\
| |      //  | . |  \\\\
| |     ')   |   |   (`
| |          -----
| |               
| |               
| |               
| |                
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
"  
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |         .-`--'.
| |        /Y . . Y\\
| |       // |   | \\\\
| |      //  | . |  \\\\
| |     ')   |   |   (`
| |          ||---
| |          ||   
| |          ||   
| |          ||   
| |         / |    
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
" 
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |         .-`--'.
| |        /Y . . Y\\
| |       // |   | \\\\
| |      //  | . |  \\\\
| |     ')   |   |   (`
| |          ||'||
| |          || ||
| |          || ||
| |          || ||
| |         / | | \\
\"\"\"\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"|\"\"\"|
|\"|\"\"\"\"\"\"\"|\"\"\"\"\"\"\"\"\"'\"|\"|
| |                   | |
: :                   : : 
. .                   . .
" 
"
 ___________.._______
| .__________))______|
| | / /      ||
| |/ /       ||
| | /        ||.-''.
| |/         |/  _  \\
| |          ||  `/,|
| |          (\\\\`_.'
| |         .-`--'.
| |        /Y . . Y\\
| |       // |   | \\\\
| |      //  | . |  \\\\
| |     ')   |   |   (`
| |          ||'||
| |          || ||
| |          || ||
| |          || ||
| |         / | | \\
\"\"\"\"\"\"\"\"\"\"|_`-' `-' |\"\"\"|
|\"|\"\"\"\"\"\"\"\\ \\       '\"|\"|
| |        \\ \\        | |
: :         \\ \\       : : 
. .          `'       . .
"
]
